:root {
    /*blue*/
    --border-blue: #4665D2;

    /*black*/
    --border-black: #1F2126;
    --bg-black: #30333F;
    --bg-black-hover: #555862;
    --color-black: white;

    /*white*/
    --border-whiet: #1F2126;
    --border-whiet-hover: #FAFAFA;
    --bg-white: #30333F;
    --bg-white-hover: #555862;
    --color-white: #36394A;

}