:root {
     /* default */
    --bg-color-toggle: rgba(92, 128, 253, 0.08);
    --bg-color-hover-toggle: rgba(92, 128, 253, 0.2);
    --text-toggle: rgba(92, 128, 253, 1);

    /* active */
    --bg-color-active-toggle: rgba(92, 128, 253, 1);
    --text-active-toggle: rgba(255, 255, 255, 1);

}